@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@300;400;500&display=swap");

@media screen and (min-width: 300px) and (max-width: 415px) {
  body {
    background-color: #fff5e9;
  }

  .heading {
    font-family: "Oswald", sans-serif;
    font-size: 2.4rem;
    color: rgb(43, 43, 43);
  }
  .mobile {
  }

  .donate-btn {
    width: 50vw;
    height: 6vh;
    border: black solid 2px;
    box-shadow: 4px 4px 0px 0px #000000;
    background-color: #62a82f;
    color: white;
    font-size: 1.3rem;
    margin-top: 20px;
    transition: transform 0.2s ease-in-out;
  }

  .donate-btn:hover,
  .donate-btn:active {
    transform: scale(0.95);
  }

  .transparent-circle {
    position: absolute;
    width: 269px;
    height: 274px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: transparent;
    content: "";
    top: 42.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}
